@import '../style/scss-variables.scss';

body {
  &::after {
    content: '';
    display: block;
    // width: 47.7vw; // at left alignment
    width: 29.7vw;
    height: 100vh;
    background-color: var(--color-gray-100);
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    animation-name: slideInFromRight;
    animation-duration: var(--transition-duration);

    @media screen and (min-width: $screen-md) {
      // width: 32vw; // at left alignment
      width: 21.7vw;
    }
  }
}

@keyframes slideInFromRight {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--container-width);
  max-height: var(--container-height);
}