* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family-base);
  line-height: var(--line-height);
  box-sizing: border-box;
  background: var(--color-black);
  color: var(--text-color-light);
  font-size: 1rem;
  padding: env(safe-area-inset-top)
           env(safe-area-inset-right)
           env(safe-area-inset-bottom)
           env(safe-area-inset-left);
  font-smooth: always;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

/**
 * Utility classes
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}